* {
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 8mm;
    background-color: grey;
    font-family: Arial;
}
.header {
    background-color: rgb(83, 83, 83);
    display: flex;
    justify-content: right;
    margin-bottom: 3vh;
}
.header > div {
    display: flex;
    width: fit-content;
    margin: 2vh;
    border-radius: 2vh;
    border: none;
    outline: none;
}
a {
    border-radius: 2vh;
    padding: 2vh;
    text-decoration: none;
    color: rgb(151, 151, 151);
    border: none;
    outline: none;
    background-color: rgb(44, 44, 44);
}
.content {
    background-color: rgb(110, 110, 110);
    margin: 3vh;
    border-radius: 2vh;
    padding: 2vh;
    display: flex;
    justify-content: center;
}
.accountinfo {
    border-radius: 2vh;
    width: 100vh;
}
.namepfp {
    background-color: rgb(83, 83, 83);
    margin: 3vh;
    border-radius: 2vh;
    padding: 2vh;
    text-align: center;
}
form {
    margin: 3vh;
    border-radius: 2vh;
    text-align: center;
    width: fit-content;
    justify-content: center;
}
label {
    margin: 3vh;
    border-radius: 2vh;
    padding: 2vh;
    background-color: rgb(83, 83, 83);
    display: block;
}
input {
    background-color: rgb(255, 255, 255);
    border-radius: 2vh;
    margin-left: 1vh;
}
button {
    background-color: rgb(255, 255, 255);
    margin-bottom: 3vh;
    border-radius: 2vh;
    padding: 2vh;
}
